*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
a{
    color: black;
}
#container{
    width: 90%;
    margin: 2vw auto 2vw auto;
    border-bottom: solid black;
    box-shadow: 1px 1px 4px darkgray;
}

/*CABECERA*/
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 1px 1px 5px darkgray;
}
.logo{
    flex-grow: 1;
    font-family: Helvetica;
    font-style: italic;
    font-weight: 1000;
    font-size: 2.5vw;
    margin: 0.5vw;
}
#menu{
    flex-basis: 50%;
}
#menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#menu a{
    font-size: 1.5vw;
    padding: 0.5vw;
}
#menu a:hover{
    transition: 300ms;
    background-color: lightgray;
    border-radius: 10px;
    color: darkslategray;
}

/*CONTENIDO PRINCIPAL*/
#content{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 20px;
}
/*BARRA LATERAL*/
aside{
    flex-basis: 15%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
aside h2{
    width: 100%;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 1.2vw;
}
aside ul{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    text-align: center;
}
aside ul li{
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    font-size: 0.85vw;
}
aside li:hover{
    background-color: darkgrey;
    transition: 300ms;
}
/*SECCIÓN PROYECTOS*/
#projects{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 80%;
}
.project{
    width: 20%;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px darkgray;
    margin: 10px;
}
.image-wrap img{
    width: 100%;
    height: 100%;
}
.project-info{
    font-size: 0.85vw;
}
.project-info a:hover{
    color: darkgray;
    transition: 300ms;
}

/*FOOTER*/
footer{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 4px darkgray;
}
footer .logo{
    opacity: 50%;
    margin: 10px;
    text-align: end;
}
footer .info{
    font-size: 1.2vw;
    margin: 10px;
}